.contact-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.top-item {
  display: flex;
  justify-content: center;
}

.top-item, h1 {
  color: #2B9E91;
}

.bottom-item, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  font-weight: bolder;
  color: black;
}

.contact-button {
  color: white;
  border-radius: 5px;
  background-color: #2B9E91;
  margin-top: 20px;
  border: 0;
  padding: 15px;
  font-size: 18px;
  width: 100%;
  max-width: 200px;
  align-self: center;
}

.contact-button:hover {
  background-color: #2d8d83;
}

.contact-form, label {
  width: 100%;
  margin: 5px;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
}

.contact-form label {
  
  margin: 10px 0 5px;
}



/* /////desktop 720px */
@media only screen and (min-width: 720px) {
  .contact-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  
  .top-item {
    display: flex;
    justify-content: center;
  }
  
  .bottom-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    color: black;
    font-weight: bolder;
  }

  .contact-form, label {
    max-width: 600px;
    margin: 5px;
  }

 
}

/*/////desktop 1024px/////////// */
@media only screen and (min-width: 1024px) {
  .contact-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  
  .top-item {
    display: flex;
    justify-content: center;
  }

  .bottom-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px;
    color: black;
    font-weight: bolder;
  }

  

 
}