.frenchquiz-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-image: url(../images/Quiz-app-screenshot.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 1px 3px 8px rgba(41,31,30,.1);
}

.quickfit-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-image: url(../images/Workout-app-screenshot.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 1px 3px 8px rgba(41,31,30,.1);
}

.findmy-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-image: url(../images/findmylang-app-screenshot.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 1px 3px 8px rgba(41,31,30,.1);
}

.pokeclimate-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-image: url(../images/PokemonClimate.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 1px 3px 8px rgba(41,31,30,.1);
}

li {
  list-style: none;
}



/* /////////////phone//////////////// */

 .project-items h1{
   color:  #2B9E91;
 }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .pokemon, .find-my, .quick, .quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
    width: 100%;
  }
  
  .summary-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }
  
  .summary-item {
    padding: 5px;
    color: black;
  }

  .sum-txt {
    margin: 10px;
  }
  
  .project-items {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    color: black;
  }

  .project-items a:hover {
    color:  #2B9E91;
  }

  .test {
    background: white;
    border-radius: 5px;
    padding: 5px;
    color: black;
    margin: 40px;
    box-shadow: 1px 3px 8px rgba(41,31,30,.1);
  }

  .pokeclimate-image, .findmy-image, .quickfit-image, .frenchquiz-image {
    outline-style:auto;
    outline-color: silver;
  }


  
/* ///////desktop 720px//////// */
@media only screen and (min-width: 720px) {
  

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .pokemon, .find-my, .quick, .quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
    width: 80%;
  }
  
  .summary-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }
  
  .summary-item {
    padding: 5px;
    color: black;
  }
  
  .project-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    color: black;
  }

  .test {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    padding: 5px;
    color: black;
    margin: 20px;
    box-shadow: 1px 3px 8px rgba(41,31,30,.1);
  }

  li {
    display: flex;
    justify-content: center;
  }

}

/*////////desktop 1024px////////////*/

@media only screen and (min-width: 1024px) {
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .pokemon, .find-my, .quick, .quiz {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 50%;
      padding: 15px;
      border-radius: 20px;
      margin: 10px;
      width: 50%;
    
  }
  
  .summary-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }
  
  .summary-item {
    padding: 5px;
    color: black;
  }
  
  .project-items {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    color: black;
  }

  .project-items a:hover {
    color:  #2B9E91;
  }

  .test {
    background: white;
    border-radius: 5px;
    padding: 5px;
    color: black;
    margin: 40px;
    box-shadow: 1px 3px 8px rgba(41,31,30,.1);
  }


  
} 