.project-img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 1px 3px 8px rgba(41,31,30,.1);
}

.project-img:hover {
  box-shadow: 1px 3px 8px black;
}

.construction {
 
  background-image: url(../images/Straub.png);

}

.quickfit {
 
  background-image: url(../images/Workout-app-screenshot.PNG);
 
}

.findmy {
 
  background-image: url(../images/findmylang-app-screenshot.png);
 
}

.pokeclimate {
  
  background-image: url(../images/PokemonClimate.png);
 
}

li {
  list-style: none;
}



/* /////////////phone//////////////// */

 .project-items h1{
   color:  #2B9E91;
 }

 .project-items h1:hover {
  text-decoration: underline;
 }



  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .pokemon, .find-my, .quick, .quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
    width: 100%;
  }
  
  .summary-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }
  
  .summary-item {
    padding: 5px;
    color: black;
  }

  .sum-txt {
    margin: 5px;
    padding: 5px;
  }
  
  .project-items {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    color: black;
  }

  .project-items a:hover {
    color:  #2B9E91;
  }

  .test {
      background-color: white;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 6%;
      margin-top: 3%;
      padding: 5px;
      opacity: 0.9;
      box-shadow: 1px 3px 8px rgb(41 31 30 / 10%);
      width: 88%;
      line-height: 30px;
  }

 .straub-img {
   width: 150px;
   height: auto;
 }

 .construction-link {
   display: flex;
   padding: 0;
 }


  
/* ///////desktop 720px//////// */
@media only screen and (min-width: 720px) {
  

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .pokemon, .find-my, .quick, .quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
    width: 80%;
  }
  
  .summary-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }
  
  .summary-item {
    padding: 5px;
    color: black;
  }
  
  .project-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    color: black;
  }

  .test {
      background-color: white;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3%;
      margin-left: 5%;
      padding: 5px;
      opacity: 0.9;
      box-shadow: 1px 3px 8px rgb(41 31 30 / 10%);
      width: 90%;
  }

  li {
    display: flex;
    justify-content: center;
  }

}

/*////////desktop 1024px////////////*/

@media only screen and (min-width: 1024px) {
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .pokemon, .find-my, .quick, .quiz {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 50%;
      padding: 15px;
      border-radius: 20px;
      margin: 10px;
      width: 50%;
    
  }
  
  .summary-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }
  
  .summary-item {
    padding: 5px;
    color: black;
  }
  
  .project-items {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    color: black;
  }

  .project-items a:hover {
    color:  #2B9E91;
  }

  .test {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    margin-left: 5%;
    padding: 5px;
    opacity: 0.9;
    box-shadow: 1px 3px 8px rgba(41,31,30,.1);
    width: 90%;
}


  
} 