html,
body,
#root {
  background-color: #efefef;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
}


